<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />

        <meta name="author" content="Adam Korba" />
        <meta name="keywords" content="klub, python, wydarzenia, poznań" />
        <meta name="description" content="Portal służący do zarządzaniem wydarzeniami i klubami" />
        <title>{% block title %}{%endblock%}</title>

        <link rel="stylesheet", href="/static/css/style.css" />
    </head>
    <body>
        <header>
            <div class="container">
                <div id="brand">
                    <h1>PyClub</h1>
                    {% if session_true != None %}
                    <div>
                        <p>Witaj, {{session_true}}!</p>
                    {% endif %}
                </div>
                <nav>
                    <ul>
                        <li><a href="/">Główna</a></li>
                        <li><a href="/about/">O nas</a></li>
                        <li><a href="/contact/">Kontakt</a></li>
                        <li>|</li>
                        {% if session_true == None %}
                        <li><a href="/register/">Rejestracja</a></li>
                        <li><a href="/login/">Logowanie</a></li>
                        {% else %}
                        <li><a href='/logout/'>Wyloguj</a></li>
                        {% endif %}

                    </ul>
                </nav>
            </div>
        </header>

        {% block section %}
        {% endblock %}
        <footer>
            <p>PyClub Poznań - Wszelkie prawa Zastrzeżone &copy; 2018</p>
        </footer>
    </body>
</html>