{% extends "_base.html" %}
{% block title %}
PyClub | Nowa Organizacja 
{% endblock %}
{% block section %}
<div class="container">
    <div class="formsbox">
    <div class="forms">
        <div class="container">
        <h1>Dodaj organizację: </h1>
        <form action="/profile/add_organization/" method="POST">
            <input class="form", type="text", name="organization_name", placeholder="Nazwa Organizacji">
            <input class="form", type="text", name="organization_contact", placeholder="Kontakt">
            <input class="button" , type="submit", name="submit", value="Załóż">
        </form>
        </div>
    </div>
    </div>

</div>
{% endblock %}