{% extends "_base.html" %}
{% block title %}
PyClub | Kontakt
{% endblock %}
{% block section %}
<div class="container">
    <div class="formsbox">
    <div class="forms">
        <div class="container">
        <form action="/organizations/{{organization_name}}/{{club_name}}/new_event/" method="POST">
            <input class="form", type="text", name="event_info", placeholder="Informacje o wydarzeniu">
            <input type="datetime-local" name="event_date">
            <input class="button" , type="submit", name="submit", value="Stwórz">
        </form>
        </div>
    </div>
    </div>
{% endblock %}
