{% extends "_base.html" %}
{% block title %}
PyClub | Nowy klub
{% endblock %}
{% block section %}
<div class="container">
    <div class="formsbox">
    <div class="forms">
        <div class="container">
        <h1>Dodaj klub:</h1>
        <form action="/organizations/{{parent_name}}/new_club/" method="POST">
            <input class="form", type="text", name="club_name", placeholder="Nazwa klubu">
            <input class="form", type="text", name="club_info", placeholder="Informacje o klubie">
            <input class="button" , type="submit", name="submit", value="Załóż">
        </form>
        </div>
    </div>
    </div>

</div>
{% endblock %}