{% extends "_base.html" %}
{% block title %}
PyClub | Główna
{%endblock%}
{% block section %}
<section id="showcase">
    <div class="container">
        <h1>PyClub</h1>
        <p>Wejdź na wyższy poziom</p>
    </div>
</section>



<section id="boxes">
    <div class="container">
        <a class="linkswhite", href="https://github.com/PRD-ev">
        <div class="box">
            <img src="../static/images/github.png">
            <h1>GitHub</h1>
            <p>Korzystamy z największego systemu kontroli wersji Gita.</p>
        </div>
        </a>
        <a class="linkswhite", href="https://zsk.poznan.pl">
        <div class="box">
            <img src="../static/images/zskalpha.png">
            <h1>Zespół Szkół Komunikacji</h1>
            <p>Nasz skład to najlepsi uczniowie najlepszego technikum w wielkopolsce</p>
        </div>
        </a>
        <a class="linkswhite", href="https://www.python.org">
        <div class="box">
            <img src="../static/images/Python.png">
            <h1>Flask</h1>
            <p>Portal powstaje przy pomocy popuarnego mikroframeworku do pythona, we Flasku.</p>
        </div>
        </a>
    </div>
</section>
{% endblock %}