{% extends "_base.html" %}
{% block title %}
PyClub | Logowanie
{% endblock %}
{% block section %}
<div class="container">
        <div class="formsbox">
        <div class="forms">
            <div class="container">
            <h1>Zaloguj się:</h1>
            <form action="http://127.0.0.1:5000/login/" method="POST">
                <input class="form", type="text", name="email", placeholder="Email">
                <input class="form", type="password", name="password", placeholder="hasło">
                <input class="button" , type="submit", name="submit", value="Zaloguj">
            </form>
            </div>
        </div>
        </div>
    </div>
{% endblock %}